@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    color: #ffffff;
}

h1{
    font-size: 70px;
    text-align: center;
    margin-top: 20%;
    font-weight: 900;
}

span {
    font-size: 100px;
    color: black;
    font-weight: 900;
}

p {
    text-align: center;
    margin-top: -20px;
    font-size: 18px;
    letter-spacing: 3px;
}